.footer {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-top: 10rem;
  background-color: $black;
  color: $white;
  padding: 6rem 4.8rem 4.5rem;
  @include respond(lg) {
    gap: 6rem;
  }
  @include respond(md) {
    gap: 3.5rem;
    padding: 4rem 2rem 3rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    @include respond(sm) {
      gap: 3rem;
      flex-direction: column;
    }
  }

  &__logo {
    position: relative;
    width: 8rem;
    height: 12rem;

    img {
      filter: invert(99%) sepia(3%) saturate(825%) hue-rotate(200deg)
        brightness(118%) contrast(100%);
    }
  }

  &__links {
    display: flex;
    gap: 6.3rem;
    list-style: none;
    @include respond(lg) {
      width: calc(100% - 18rem);
      gap: 3rem;
      justify-content: flex-end;
    }
    @include respond(sm) {
      gap: 2rem;
      width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__policies {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    @include respond(lg) {
      gap: 2rem;
      flex-direction: column;
    }
  }

  &__policies-nav {
    display: flex;
    gap: 3.5rem;
    list-style: none;
  }
}
